<div id="treemenu" class="easyui-panel" style="padding:5px; height: 100%;">
    <ul class="easyui-tree">
        <li>
            <span>
                系统功能
            </span>
            <ul>
                <li>
                    <span>
                        账户管理
                    </span>
                    <ul>
                        <li>
                            <span>
                                <a onclick="ShowContent('充值','http://Www.langlib.com');">充值</a>
                            </span>
                        </li>

                        <li>
                            <span>
                                Company
                            </span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span data-options="state:'closed'">
                        Program Files
                    </span>
                    <ul>
                        <li>
                            Intel
                        </li>
                        <li>
                            Java
                        </li>
                        <li>
                            Microsoft Office
                        </li>
                        <li>
                            Games
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
